.hero {
    display: flex;
    gap: 3rem;
    padding: 4rem;
    min-height: 100vh;
    background: linear-gradient(to bottom, #2b2e33, #1f2227);

    background-size: cover;
    background-position: center;
    color: #e6edf3;


    align-items: center;

}
